@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    overflow: hidden;
    scroll-behavior: smooth;
}

.bg-home {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_home.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home-container {
    width: 90vw;
    height: 95vh;
    z-index: 1;
    margin: 2.5vh auto;
}

.menu-superior {
    width: 90vw;
    height: 10vh;
    display: flex;
}

.menu-infos-user {
    width: 40%;
    height: 100%;
    display: flex;
    overflow-y: hidden;
}

.item-menu {
    width: 30%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-nivel {
    width: 22%;
    height: 55%;
    background-position: center;
    background-image: url('/public/assets/imagens/vetores/nivel.png');
}

.icon-esmeralda {
    width: 22%;
    height: 55%;
    background-image: url('/public/assets/imagens/vetores/esmeraldas.png');
}

.icon-moeda {
    width: 22%;
    height: 55%;
    background-image: url('/public/assets/imagens/vetores/moedas.png');
}

.info-nivel{
    display: flex;
}

.numNivel {
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Londrina Solid', cursive;
    color: #fff;
}

.info {
    width: auto;
    height: 60%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.info-p {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.menu-itens-config {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    overflow-y: hidden;
    margin-left: auto;
}

.item-config {
    width: 20%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.item-icon {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-som {
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/imagens/icones/volume-on.svg');
}

.icon-conta {
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/imagens/icones/usuario.svg');
}

.icon-logout {
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/imagens/icones/logout.svg');
}

.main {
    width: 90vw;
    height: 75vh;
    margin: 5vh auto;
}

.arenas-carrossel-container{
    width: 40vw;
    height: 35vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta {
    width: 5vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta img {
    width: 80%;
    height: 20%;
}

.seta img:hover {
    cursor: pointer;
}

.carrossel {
    overflow: hidden;
    width: 30vw; 
}

.mapa {
    width: 30vw; 
    height: 35vh;
}

.mapa > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-principal {
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-item {
    width: 33% !important;
    height: 40% !important;
    margin: 10px 5px !important;
    background-image: url('/public/assets/imagens/placas/placa_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border-radius: 1px !important;
}

.texto-p {
    width: 75%;
    height: 30%;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.4em;
    font-weight: 500;
    color: #5E2C12;
}

.menu-item:nth-child(1) .texto-p{
    width: 75%;
    height: 50%;
}

.menu-item:nth-child(2) .texto-p{
    width: 75%;
    height: 50%;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .icon-nivel {
        width: 22%;
    }
    
    .numNivel {
        margin-left: 10px;
        margin-top: 3px;
        font-size: 1.2em;
    }
    
    .info-p {
        font-size: 1.3em;
    }
    
    .texto-p {
        font-size: 1.3em;
    }
}