@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_login-tabuleiro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.box-derrota-tabuleiro{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/public/assets/imagens/placas/fundo_modal.png");
}

.box-titulo{
    width: 450px;
    height: 150px;
    margin: 12vh auto 2vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 105, 30, 0);
}

.box-titulo-tabuleiro > h1{
    position: absolute; 
    font-family: 'Londrina Solid', cursive;
    font-size: 5em;
    color: #5E2C12;
}

.box-content{
    width: 500px;
    height: 450px;
    margin: 50px auto;
}

.img-content{
    width: 250px;
    height: 250px;
    margin: 0 125px;
    display: flex;
    justify-content: center;
}

.icon-msg{
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/imagens/vetores/atencao.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.text-content-desistir{
    width: 500px;
    height: 80px;
}

.texto-conteudo > p{
    font-family: 'Londrina Solid', cursive;
    color: #5E2C12;
    font-size: 1.8em;
    text-align: center;
    margin: 50px auto;
}

.area-btn-modal{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal{
    width: 100px;
    height: 60px;
    margin: 0px 10px;
    font-size: 1.8em;
    font-family: 'Londrina Solid', cursive;
    color: #fff;
    background-color: #5E2C12;
    border: none;
}

.btn-modal:nth-child(1){
    background-color: #4EAA3D;
}

.btn-modal:nth-child(1):hover{
    border: 3px solid #347229;
}

.btn-modal:nth-child(2){
    background-color: #E24951;
}

.btn-modal:nth-child(2):hover{
    border: 3px solid #97262b;
}

.btn-modal:hover{
    cursor: pointer;
}


@media screen and (max-width: 1366px) and (max-height: 768px) {
    .box-titulo{
        width: 450px;
        height: 135px;
        margin: 10.5vh auto 2vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-titulo-tabuleiro > h1{
        font-size: 4em;
    }

    .box-content{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .img-content {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .text-content-desistir {
        width: 350px;
        height: 80px;
    }

    .area-btn-modal {
        width: 300px;
        height: 80px;
        margin: 0 auto;
    }

    .btn-modal-tabuleiro{
        width: 300px;
        height: 60px;
        margin: 10px auto;
        font-size: 1.8em;
        font-family: 'Londrina Solid', cursive;
        color: #E6B789;
        background-color: #5E2C12;
        border: none;
    }
}