@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Vollkorn', serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.bg-home {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/imagens/backgrounds/cenario_loja.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home-container {
    width: 90vw;
    height: 95vh;
    z-index: 1;
    margin: 2.5vh auto;
}

.menu-superior{
    width: 85vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 5vw;
    height: 8vh;
}

.item-retorno{
    width: 80%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-retorno{
    width: 55%;
    height: 70%;
    background-image: url('../../assets/imagens/icones/return.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.titulo {
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placa-titulo {
    min-width: 200px; 
    min-height: 100px; 
    height: 100%;
    margin: 10px;
    background-image: url('../../assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.moedas-atuais{
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-qtde {
    width: 10%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon {
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-nivel {
    width: 25%;
    height: 60%;
    background-image: url('../../assets/imagens/vetores/nivel.png');
}

.icon-esmeralda {
    width: 20%;
    height: 50%;
    background-image: url('../../assets/imagens/vetores/esmeraldas.png');
}

.info-p{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.loja {
    width: 90vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh auto;
}

.loja-item {
    width: 20%;
    height: 45%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.skin {
    width: 165px;
    height: 165px;
    border: 5px solid #5E2C12;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.nome-skin{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-skin > h1{
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.precos{
    width: 100%;
    height: 20%;
    display: flex;
}

.preco-esmeralda{
    width: 45%;
    height: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E2C12;
}

.preco > p{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    margin-left: 5px;
    color: #E6B789;
}

.preco-moeda{
    width: 45%;
    height: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #5E2C12;
}

.icon{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-moeda{
    background-image: url('../../assets/imagens/vetores/moedas.png');
}

.icon-esmeralda{
    background-image: url('../../assets/imagens/vetores/esmeraldas.png');
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .icon-retorno{
        width: 55%;
        height: 70%;
        background-image: url('../../assets/imagens/icones/return.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .skin {
        width: 110px;
        height: 110px;
    }

    .nome-skin > h1{
        font-size: 1.6em;
    }

    .preco > p{
        font-size: 1.4em;
    }

    .icon{
        width: 25px;
        height: 25px; 
    }

    .info-p{
        font-size: 1.6em;
    }

    .loja-item {
        height: 40%;
    }
}