@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    overflow: hidden;
    scroll-behavior: smooth;
}

.bg-loja-skin {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_loja.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-loja-skin-container {
    width: 95vw;
    height: 95vh;
    z-index: 1;
    display: block;
    margin: 2.5vh auto;
}

.menu-superior-loja-skin{
    width: 90vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-loja-skin{
    width: 5vw;
    height: 8vh;
}

.item-retorno-loja-skin{
    width: 80%;
    height: 75%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.icon-retorno-loja-skin{
    width: 55%;
    height: 70%;
    background-image: url('/public/assets/imagens/icones/return.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.titulo-loja-skin {
    width: 95vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placa-titulo-loja-skin {
    min-width: 200px; 
    min-height: 100px; 
    height: 100%;
    margin: 10px;
    background-image: url('/public/assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.moedas-atuais-loja-skin{
    width: 95vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-qtde-loja-skin {
    width: 10%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.icon-loja-skin {
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-nivel-loja-skin {
    width: 25%;
    height: 60%;
    background-image: url('/public/assets/imagens/vetores/nivel.png');
}

.icon-esmeralda-loja-skin {
    width: 20%;
    height: 50%;
    background-image: url('/public/assets/imagens/vetores/esmeraldas.png');
}

.info-p-loja-skin{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.loja-skin {
    width: 90vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh auto;
}

.loja-item-loja-skin {
    width: 20%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.skin {
    width: 150px;
    height: 150px;
    border: 5px solid #5E2C12;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.nome-skin-loja-skin{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-skin-loja-skin > h1{
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    font-family: 'Londrina Solid', cursive;
}

.precos-loja-skin{
    width: 100%;
    height: 20%;
    display: flex;
}

.precos-loja-skin > button{
   border: none;
}

.preco-esmeralda-loja-skin{
    width: 45%;
    height: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E2C12;
}

.preco-loja-skin > p{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    margin-left: 5px;
    color: #E6B789;
}

.preco-moeda-loja-skin{
    width: 45%;
    height: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #5E2C12;
}

.icon-loja-skin{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-moeda-loja-skin{
    background-image: url('/public/assets/imagens/vetores/moedas.png');
}

.icon-esmeralda-loja-skin{
    background-image: url('/public/assets/imagens/vetores/esmeraldas.png');
}

button{
    cursor: pointer;
}

.nada-para-comprar{
    font-size: 2em;
    color: #fff;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .box-titulo-loja-skin{
        width: 450px;
        height: 150px;
        margin: 10.5vh auto 2vh auto;
    }
    
    .box-titulo-loja-skin > h1{
        font-size: 3.5em;
    }
    
    .box-content-loja-skin{
        width: 400px;
        height: 350px;
        margin: 0px auto;
    }
    
    .img-compra-loja-skin{
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    
    .compra-texto-loja-skin{
        width: 400px;
        height: 50px;
        margin: 5px auto;
    }
    
    .compra-texto-loja-skin > p{
        font-size: 1.8em;
    }    
    
    .loja-skin > button{
        width: 300px;
        height: 60px;
        margin: 10px 10px;
    }
    
    .nome-item-loja-skin > h1{
        font-size: 2em;
    }

    .icon-retorno-loja-skin{
        width: 55%;
        height: 70%;
        background-image: url('/public/assets/imagens/icones/return.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .skin {
        width: 110px;
        height: 110px;
    }

    .nome-skin-loja-skin > h1{
        font-size: 1.6em;
    }

    .preco-loja-skin > p{
        font-size: 1.4em;
    }

    .icon-loja-skin{
        width: 25px;
        height: 25px; 
    }

    .info-p-loja-skin{
        font-size: 1.6em;
    }

    .loja-item-loja-skin {
        height: 40%;
    }
}