@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    overflow: hidden;
    scroll-behavior: smooth;
}

.bg-home {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/imagens/backgrounds/cenario_home.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home-container {
    width: 90vw;
    height: 95vh;
    z-index: 1;
    margin: 2.5vh auto;
}

.menu-superior {
    width: 90vw;
    height: 10vh;
    display: flex;
}

.menu-infos-user {
    width: 40%;
    height: 100%;
    display: flex;
    overflow-y: hidden;
}

.item-menu {
    width: 30%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-nivel {
    width: 25%;
    height: 60%;
    background-image: url('../assets/imagens/vetores/nivel.png');
}

.icon-esmeralda {
    width: 22%;
    height: 50%;
    background-image: url('../assets/imagens/vetores/esmeraldas.png');
}

.icon-moeda {
    width: 22%;
    height: 50%;
    background-image: url('../assets/imagens/vetores/moedas.png');
}

.icon-nivel{
    width: 22%;
    height: 60%;
    background-image: url('../assets/imagens/niveis/nivel-1.png');
}

.info {
    width: 50%;
    height: 50%;
    display: flex;
    text-align: left;
    align-items: center;

}

.info-p {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.menu-itens-config {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    overflow-y: hidden;
    margin-left: auto;
}

.item-config {
    width: 20%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.item-icon {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-som {
    width: 60%;
    height: 60%;
    background-image: url('../assets/imagens/icones/volume-on.svg');
}

.icon-conta {
    width: 60%;
    height: 60%;
    background-image: url('../assets/imagens/icones/usuario.svg');
}

.icon-logout {
    width: 60%;
    height: 60%;
    background-image: url('../assets/imagens/icones/logout.svg');
}

.main {
    width: 90vw;
    height: 75vh;
    margin: 5vh auto;
}

.arena {
    width: 21vw;
    height: 25vh;
    margin: 0 auto;
    background-color: gray;
}

.menu-principal {
    width: 50vw;
    height: 40vh;
    margin: 30px auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-item {
    width: 33%;
    height: 40%;
    margin: 10px 5px;
    background-image: url('../assets/imagens/placas/placa_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-p {
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .icon-nivel {
        width: 22%;
    }
    
    .numNivel {
        margin-left: 10px;
        margin-top: 3px;
        font-size: 1.2em;
    }
    
    .info-p {
        font-size: 1.3em;
    }
    
    .texto-p {
        font-size: 1.3em;
    }
}