@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_login-tabuleiro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.box-vitoria-tabuleiro{
    width: 50vw;
    height: 100vh;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/public/assets/imagens/placas/fundo_modal.png");
}

.box-titulo-tabuleiro{
    width: 450px;
    height: 150px;
    margin: 12vh auto 2vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 105, 30, 0);
}

.box-titulo-tabuleiro > h1{
    position: absolute; 
    font-family: 'Londrina Solid', cursive;
    font-size: 5em;
    color: #5E2C12;
}

.box-content-tabuleiro{
    width: 500px;
    height: 450px;
    margin: 50px auto;
}

.img-resultado-tabuleiro{
    width: 250px;
    height: 250px;
    margin: 0 125px;
    display: flex;
    justify-content: center;
}

.icon-vitoria-tabuleiro{
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/imagens/vetores/vitorias.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.recompensas-tabuleiro{
    width: 500px;
    height: 120px;
    display: flex;
}

.recompensa-xp-tabuleiro{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.recompensa-xp-icon-tabuleiro{
    width: 30%;
    height: 50%;
    background-image: url("/public/assets/imagens/vetores/nivel.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.recompensa-texto-tabuleiro > p{
    font-family: 'Londrina Solid', cursive;
    font-size: 1.2em;
    color: #5E2C12;
}

.recompensa-moeda-tabuleiro{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.moeda-icon-tabuleiro{
    width: 30%;
    height: 50%;
    background-image: url("/public/assets/imagens/vetores/moedas.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.area-btn-modal{
    width: 500px;
    height: 80px;
}

.btn-modal-tabuleiro{
    width: 300px;
    height: 60px;
    margin: 10px 100px;
    font-size: 1.8em;
    font-family: 'Londrina Solid', cursive;
    color: #E6B789;
    background-color: #5E2C12;
    border: none;
}

.btn-modal-tabuleiro:hover{
    cursor: pointer;
    border: 3px solid #331809;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .box-titulo-tabuleiro{
        width: 450px;
        height: 135px;
        margin: 10.5vh auto 2vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-titulo-tabuleiro > h1{
        font-size: 4em;
    }

    .box-content-tabuleiro{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .img-resultado-tabuleiro{
        width: 150px;
        height: 150px;
        margin: 0 105px;
        display: flex;
        justify-content: center;
    }
    
    .recompensas-tabuleiro{
        width: 500px;
        height: 100px;
    }

    .recompensa-xp-tabuleiro{
        width: 35%;
    }

    .recompensa-xp-icon-tabuleiro{
        width: 30%;
        height: 40%;
    }

    .recompensa-texto-tabuleiro{
        font-size: 1.5em;
    }

    .recompensa-moeda-tabuleiro{
        width: 45%;
        height: 100%;
    }

    .moeda-icon-tabuleiro{
        width: 25%;
        height: 40%;
    }
}