@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Vollkorn', serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.modal-container-loja-moeda{
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.bg-loja-moeda {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_loja.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-loja-moeda-container {
    width: 90vw;
    height: 95vh;
    z-index: 1;
    margin: 2.5vh auto;
    display: block;
}

.menu-superior-loja-moeda{
    width: 85vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-loja-moeda{
    width: 5vw;
    height: 8vh;
}

.item-retorno-loja-moeda{
    width: 80%;
    height: 80%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.titulo-loja-moeda {
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placa-titulo-loja-moeda {
    min-width: 200px; 
    min-height: 100px; 
    height: 100%;
    margin: 10px;
    background-image: url('/public/assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}


.moedas-atuais-loja-moeda{
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-qtde-loja-moeda {
    width: 10%;
    height: 70%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_subtitulo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-loja-moeda {
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-moeda-loja-moeda {
    width: 25%;
    height: 60%;
    background-image: url('/public/assets/imagens/vetores/moedas.png');
}

.icon-esmeralda-loja-moeda {
    width: 20%;
    height: 50%;
    background-image: url('/public/assets/imagens/vetores/esmeraldas.png');
}

.info-p-loja-moeda{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.loja-loja-moeda{
    width: 60vw;
    height: 80vh;
    margin: 2.5vh auto;
}

.loja-esmeralda-loja-moeda{
    width: 100%;
    height: 45%;
    display: flex;
    margin: 0 auto;
}

.loja-esmeralda-item-loja-moeda{
    width: 30%;
    height: 100%;
    margin: 2%;
}

.foto-item-loja-moeda{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.esmeralda-p-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/poucas_esmeraldas.png');
}

.esmeralda-m-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/saco_esmeraldas.png');
}

.esmeralda-g-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/balde_esmeraldas.png');
}

.nome-item-loja-moeda > h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 2.5em;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.valor-loja-moeda{
    width: 100%;
    height: 15%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E2C12;
    border: none;
    cursor: pointer;
    font-family: 'Londrina Solid', cursive;
    font-size: 2.2em;
    color: #E6B789;
}

.valor-loja-moeda:hover{
    border: 3px solid #331809;
}

.loja-moeda-loja-moeda{
    width: 60vw;
    height: 40vh;
    display: flex;
    margin: 0 auto;
}

.loja-moeda-item-loja-moeda{
    width: 30%;
    height: 100%;
    margin: 2%;
}

.moeda-p-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/poucas_moedas.png');
}

.moeda-m-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/saco_moedas.png');
}

.moeda-g-loja-moeda{
    background-image: url('/public/assets/imagens/vetores/balde_moedas.png');
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .box-titulo-loja-moeda{
        width: 450px;
        height: 150px;
        margin: 10.5vh auto 2vh auto;
    }

    .box-titulo-loja-moeda > h1{
        font-size: 3.5em;
    }

    .box-content-loja-moeda{
        width: 400px;
        height: 350px;
        margin: 0px auto;
    }

    .img-compra-loja-moeda{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .compra-texto-loja-moeda{
        width: 400px;
        height: 80px;
        margin: 5px auto;
    }

    .compra-texto-loja-moeda > p{
        font-size: 1.8em;
    }

    .loja-moeda{
        width: 400px;
        height: 70px;
    }

    .loja-moeda > button{
        width: 300px;
        height: 60px;
        margin: 10px 50px;
    }

    .nome-item-loja-moeda > h1{
        font-size: 2em;
    }

    .valor-loja-moeda{
        margin-top: 10px;
        font-size: 1.5em;
    }
}