@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Vollkorn:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

.bg-tabuleiro {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_login-tabuleiro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-tabuleiro-container {
    width: 90vw;
    height: 95vh;
    z-index: 1;
    margin: 2.5vh auto;
    display: flex;
    flex-wrap: wrap;
}

.area-onca-tabuleiro {
    width: 20vw;
    height: 95vh;
    display: flex;
    align-items: baseline;
}

.area-onca-container-tabuleiro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 45vh;
    align-self: flex-end;
}

.placar-tabuleiro{
    width: 15vw;
    height: 20vh;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.placar-onca-tabuleiro{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #5E2C12;
}

.peca-comida-tabuleiro{
    background-size: contain;
    background-repeat: no-repeat;
}

.contador-tabuleiro{
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador-tabuleiro > h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 4em;
    color: #fff;
}

.info-user-tabuleiro {
    width: 20vw;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/imagens/placas/placa_usuario.png);
}

.info-nome-user {
    color: #fff;
}

.info-user-tabuleiro h1 {
    position: absolute; 
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.area-cachorro-tabuleiro {
    width: 20vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-superior-tabuleiro {
    width: 20vw;
    height: 8vh;
    display: flex;
    justify-content: end;
}

.item-config-tabuleiro {
    width: 20%;
    height: 80%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.item-icon-tabuleiro {
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-som-tabuleiro {
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/imagens/icones/volume-off.svg');
}

.icon-logout-tabuleiro {
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/imagens/icones/logout.svg');
}

.area-cachorro-container-tabuleiro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20vw;
    height: 25vh;
}

.principal-tabuleiro{
    width: 50vw;
    height: 95vh;
}

.tabuleiro{
    width: 45vw;
    height: 85vh;
    margin: 0 auto;
    background-image: url('/public/assets/imagens/placas/tabuleiro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.tabuleiro-container{
    width: 40vw;
    height: 80vh;
    margin: 4vh auto;
}

.malha-tabuleiro{
    background-image: url("/public/assets/imagens/placas/malha-tabuleiro.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.row-tabuleiro {
    width: 40vw;
    height: calc(80vh / 7);
    display: flex;
    justify-content: space-around;
}

.cell-tabuleiro {
    width: 92px;
    height: 92px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #5E2C12;
    border-radius: 50%;
    background-color: #E6B789;
}

.cell-tri-tabuleiro {
    width: 92px;
    height: 92px;
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: center;
}

.peca-cachorro-tabuleiro ,
.peca-onca-tabuleiro {
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.peca-selecionada-tabuleiro {
    background-color: #ff7723 !important;
}
.peca-jogador-tabuleiro {
    background-color: #fff !important;
}

.peca-cachorro-tabuleiro {
    background-color: #c2c2c2e6;
}

.peca-onca-tabuleiro {
    background-color: #c2c2c2e6;
}

.reacoes-tabuleiro{
    width: 50vw;
    height: 10vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-reacao-tabuleiro {
    width: 5vw;
    height: 8vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-image: url('/public/assets/imagens/placas/placa_icones.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-emoji-tabuleiro{
    width: 65%;
    height: 65%; 
    border: none;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.emoji-rindo-tabuleiro {
    background-image: url('/public/assets/imagens/emojis/rindo.png');
}

.emoji-nervoso-tabuleiro {
    background-image: url('/public/assets/imagens/emojis/nervoso.png');
}

.emoji-surpreso-tabuleiro {
    background-image: url('/public/assets/imagens/emojis/surpreso.png');
}

.emoji-cachorro-tabuleiro{
    background-image: url('/public/assets/imagens/emojis/cachorro.png');
}

.emoji-onca-tabuleiro {
    background-image: url('/public/assets/imagens/emojis/onca.png');
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .box-titulo-tabuleiro{
        width: 450px;
        height: 135px;
        margin: 10.5vh auto 2vh auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-titulo-tabuleiro > h1{
        font-size: 4em;
    }

    .box-content-tabuleiro{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .img-resultado-tabuleiro{
        width: 150px;
        height: 150px;
        margin: 0 105px;
        display: flex;
        justify-content: center;
    }
    
    .recompensas-tabuleiro{
        width: 500px;
        height: 100px;
    }

    .recompensa-xp-tabuleiro{
        width: 35%;
    }

    .recompensa-xp-icon-tabuleiro{
        width: 30%;
        height: 40%;
    }

    .recompensa-texto-tabuleiro{
        font-size: 1.5em;
    }

    .recompensa-moeda-tabuleiro{
        width: 45%;
        height: 100%;
    }

    .moeda-icon-tabuleiro{
        width: 25%;
        height: 40%;
    }

    .castigo-xp-tabuleiro{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .castigo-xp-icon-tabuleiro{
        width: 12%;
        height: 50%;
        background-image: url("/public/assets/imagens/vetores/nivel.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .tabuleiro{
        width: 500px;
        height: 100px;
    }
    
    .tabuleiro > button{
        width: 300px;
        height: 60px;
        margin: 20px 25px;
        font-size: 1.8em;
        font-family: 'Londrina Solid', cursive;
        color: #E6B789;
        background-color: #5E2C12;
        border: none;
    
    }
       
    .placar-onca-tabuleiro{
        width: 60px;
        height: 60px;
    }
    
    .contador-tabuleiro > h1{
        font-family: 'Londrina Solid', cursive;
        font-size: 3em;
    }

    .info-user-tabuleiro h1 {
        font-size: 1.4em;
    }

    .row-tabuleiro {
        width: 40vw;
        height: 11vh;
        display: flex;
        justify-content: space-around;
    }
    

    .cell-tabuleiro {
        width: 55px;
        height: 55px;
        margin: 8px;
        border: 4px solid #5E2C12;
    }

    .cell-tri-tabuleiro {
        width: 55px;
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0);
        display: flex;
        border-radius: 50%;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }

    .malha-tabuleiro{
        background-image: url("/public/assets/imagens/placas/malha-tabuleiro.png");
        background-size: 100% 100%;
        width: 100%;
        height: 95%;
    }
}