.bg-login {
  padding: 1rem;
  background-image: url('/public/assets/imagens/backgrounds/cenario_login-tabuleiro.png');
  background-repeat: repeat;
  background-position: center;
  background-color: #0AAD44;
}

/*FORM*/
.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  text-align: center;
}

.form input {
  height: 45px;
  width: 100%;
  border: none;
  padding-left: 5px;
  font-family: 'Blinker', sans-serif;
  font-size: 1.2em;
  color: #7e7e7e;
  background-color: #eee;
}

.form input:focus {
  outline: none;
}

.label-input {
  background-color: #eee;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.password {
  color: #7e7e7e;
  margin: 15px 0;
}

.password::first-letter {
  text-transform: capitalize;
}
