* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
    overflow: hidden;
    scroll-behavior: smooth;
}

.background-modal-compra-skin {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/imagens/backgrounds/cenario_loja.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-container-compra-skin{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}


.box-compra-loja-loja-skin{
    width: 50vw;
    height: 100vh;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/public/assets/imagens/placas/fundo_modal.png");
}

.box-titulo-loja-skin{
    width: 450px;
    height: 150px;
    margin: 12vh auto 2vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 105, 30, 0);
}

.box-titulo-loja-skin > h1{
    position: absolute; 
    font-family: 'Londrina Solid', cursive;
    font-size: 5em;
    color: #5E2C12;
}

.box-content-loja-skin{
    width: 500px;
    height: 450px;
    margin: 50px auto;
}

.img-compra-loja-skin{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item-comprado-loja-skin{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.compra-texto-loja-skin{
    width: 500px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compra-texto-loja-skin > p{
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
    color: #5E2C12;
}

.btn-loja-skin{
    width: 300px;
    height: 60px;
    margin: 10px 100px;
    font-size: 1.8em;
    font-family: 'Londrina Solid', cursive;
    color: #E6B789;
    background-color: #5E2C12;
    border: none;
}

.btn-loja-skin:hover{
    cursor: pointer;
    border: 3px solid #331809;
}